<% if @vachanakaaras and params[:start_letter] %>
<div class="praramba_para">
  <p><span class="start_letter_header"><%= params[:start_letter] %></span> ಪ್ರಾರಂಭದ ಅಕ್ಷರದ ಹೆಸರಿರುವ ವಚನಕಾರರು</p>
</div>

<div class="vachanakaaras_load">
  <%= render "vachanakaara_list_results" %>
</div>

<% unless @vachanakaaras.blank? or !@vachanakaaras.next_page %>
<div class="click_for_more">
  <span>ಇನ್ನಷ್ಟು ವಚನಕಾರರಿದ್ದಾರೆ</span>
</div>
<% end %>

<%= link_to "#{t :read_more}...", vachanakaaras_path(start_letter: params[:start_letter], page: @vachanakaaras.next_page), :class => 'load-more-vachanas', :style => 'color:white;' if @vachanakaaras.next_page %>
<% end %>
