<% if @vachanas and (@start_letter or @fallback_to_all) %>
<% if @fallback_to_all %>
  <% if params[:start_letter] %>
<p><span class="start_letter_header"><%= params[:start_letter] %></span> ಅಕ್ಷರದಿಂದ ಪ್ರಾರಂಭವಾಗುವ ವಚನಗಳು ಕಂಡುಬಂದಿಲ್ಲ. ಲಭ್ಯವಿರುವ ವಚನಗಳು:</p>
  <% else %>
<p>ಲಭ್ಯವಿರುವ ವಚನಗಳು:</p>
  <% end %>
<% elsif @start_letter %>
<p><span class="start_letter_header"><%= @start_letter %></span> ಅಕ್ಷರದಿಂದ ಪ್ರಾರಂಭವಾಗುವ ವಚನಗಳು:</p>
<% end %>


<div class="vachanas_load">
 <%= render "vachanakaara_vachana_results" %>
</div>
<br />

<% unless @vachanas.blank? or !@vachanas.next_page %>
<div class="click_for_more"> 
  <span>ಇನ್ನಷ್ಟು ವಚನಗಳಿವೆ</span>
</div>
<% end %>

<%= link_to "#{t :read_more}...", vachanakaara_path(@vachanakaara, start_letter: @start_letter, page: @vachanas.next_page), :class => 'load-more-vachanas', :style => 'color:white;' if @vachanas.next_page %>

<% end %>

