
<div class="vacha_lists">
		<% @vachanakaaras.each do |vachanakaara| %>
		<div class= "vachanakaara-list">
		<%= link_to vachanakaara.name, vachanakaara,class: "btn-mini " %>
</div>		
<% end %>
	</div>