		<div class="back-button-show">
			<%= link_to "Back",vachanakaaras_path, class: "btn btn-primary " %>
		<h3> <%= @vachanakaara.name %> </h3>
		</div>
		<div class="vacha_lists">
			<% @vachanas.each do |vachana| %>
			<%= link_to vachana.id,vachana, class: "btn btn-mini " %>
			<p class="heighlight text-left"> <%= raw vachana.vachana.gsub(/\n/, '<br />') %>  </p>
			<% end %>
		</div>
