<% if @keywords and params[:start_letter] %>
<!-- <h3> ಪದಪುಂಜಗಳು </h3> -->
<p> <span class="start_letter_header"> 
  <%= params[:start_letter] %> </span> ಪದದಿಂದ ಪ್ರಾರಂಭವಾಗುವ ಪದಗಳು </p>

  <div class="results_list_div keywords_load">
   <%= render "results" %>
 </div>
 <%= link_to "#{t :read_more}...", researches_path(params: params, :page => @keywords.next_page), :class => 'load-more-vachanas',:disable_with => "#{t :please_wait}...", :remote => true if @keywords.next_page %>
 <% unless @keywords.blank? %>

 <div class="click_for_more"> 
   <%#= link_to "#{params[:start_letter]} ಪದದಿಂದ ಪ್ರಾರಂಬವಾಗುವ ಎಲ್ಲಾ ಪದಗಳು" , "" %>
 </div>

 <% end %>


 <% end %>

