<div class="search_glossary">
  <%= form_tag search_glossaries_path,name: "search_glossary",class: "search" do %>
  <%= text_field_tag :word, params[:word],class: "search-query" %>

  <%= submit_tag "#{t :search}",:class => 'btn btn-primary' %>

  <% end %>

</div>