<button class="btn bookmark-btn" data-vachana-id="<%= vachana.id %>" title="ಉಳಿಸು">
  <i class="fa fa-star"></i>
</button>
<button class="btn btn-small" onclick="showCategoryPicker($(this))" title="ವರ್ಗಕ್ಕೆ ಸೇರಿಸಿ" style="border:none;background:transparent;color:#888;font-size:12px;padding:2px 4px;">
  <i class="fa fa-tag"></i>
</button>