<div class="results_list_div">
  <% @results.each do |vachana| %>
  <a href="<%= vachana_path(vachana) %>" role="button"  data-toggle="modal" >
    <div class="box effect5">
     <div class="vachana-concord-box"> 
       <div class="vachana-show-box"> 
         <span>  <%=  vachana.vachana %> </span> 
       </div>
       --------------
       <div class= "vachanakaara-name"> 
         <span  >
           <%= "#{vachana.vachanakaara.name}" %> 
         </span>
       </div>
     </div>
   </div>
 </a>
<% end %>
</div>

<script type='text/javascript'>
  jQuery(function(){
    var options = {
      exact:"partial",
      keys: "<%= params[:vachana] %> "
    }
    jQuery(document).SearchHighlight(options);
  });

</script>