
		<% @results.vachanas.each do |vachana| %>
		<%= link_to "#{vachana.id} (#{vachana.vachanakaara.name})", vachana,class: "btn btn-mini " %>
		<p class="heighlight text-left"> <%= raw vachana.vachana.gsub(/\n/, '<br />') %>   </p>
        <!-- <span class="badge badge-info"><%#= result.count %>   </span> -->
		<% end %>


<script type='text/javascript'>

jQuery(function(){
    var options = {
        exact:"partial",
        keys: "<%= params[:vachana] %>"
    }
    jQuery(document).SearchHighlight(options);
});

</script>