
<% if @vachanas and params[:start_letter] %>
<p> <span class="start_letter_header"> 
  <%= params[:start_letter] %> </span> ಪದದಿಂದ ಪ್ರಾರಂಭವಾಗುವ ವಚನಗಳು </p>

<div class="vachanas_load">
 <%= render "vachana_concord_results" %>
</div>
<br />

<% unless @vachanas.blank? or !@vachanas.next_page %>
<div class="click_for_more"> 
  <span>ಇನ್ನಷ್ಟು ವಚನಗಳಿವೆ</span>
</div>
<% end %>

<%= link_to "#{t :read_more}...", vachana_concord_vachanas_path(start_letter: params[:start_letter], page: @vachanas.next_page), class: 'load-more-vachanas', style: 'color:white;' if @vachanas.next_page %>


<% end %>