




<h1><%= @vachana.vachanakaara.name %></h1>
<table class="table table-striped">
  <thead>
    <tr>

      <th></th>
      
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><%= raw @vachana.vachana.gsub(/\n/, '<br />') %></td> <!-- or we can use simple_format() rails helper -->


    </tr>
  </tbody>
</table>
<% if vachana.reviewed? %>
<i class="fa fa-pencil-square-o fa-1x" aria-hidden="true" title="ಪರಿಶೀಲಿಸಲಾಗಿದೆ"></i>
<% end %>
<!-- <%#= link_to 'Edit', edit_vachana_path(@vachana), :class => 'btn btn-primary'  %> | -->
<%= link_to_function 'Back', "history.back()", :class => 'btn btn-primary' %> 
