




<h1><%= @vachana.author %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th></th>
      
    </tr>
  </thead>
  <tbody>
   
      <tr>
        <td><%= raw @vachana.description.gsub(/\n/, '<br />') %></td> <!-- or we can use simple_format() rails helper -->
        
        
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_vachana_path(@vachana), :class => 'btn btn-primary'  %> |
<%= link_to 'Back', :back, :class => 'btn btn-primary' %>