
<div class="about-us">
  <p>
    <b> <a href="http://vachana.sanchaya.net/" target="_blank"> Vachana Sanchaya </a> </b> is a platform built for Kannada Literature Enthusiasts, Researchers, Students. It’s one of its kind project under our Umbrella project <b> <a href="http://kannada.sanchaya.net" target="_blank"> Kannada Sanchaya </a> </b>. 
  </p>
  <p> 
    <b> Sanchaya </b> - is a platform for Kannada Technology enthusiasts - unlike any other group - it allows people to exchange the need for technology solutions for the language and possibly collaborate to built the same. 
  </p>
  <p>
   <h5> A Journey to Vachana Sanchaya: </h5>

   It all started while we were pooled into help in some research on Vachana Sahitya by Professor O.L Naghabhushana Swamy & Kannada Author & Publisher Vasudhendra in the year 2013. It was troublesome to use publicly available content on Vachanas since the data was in <a href="https://en.wikipedia.org/wiki/ASCII" target="_blank">  ASCII </a> standard and searching text was a huge problem on government hosted Vachana Sahitya portal. 
 </p>
 <p>
   Three of us joined hands to start working on this project in the 3rd quarter of 2013. Pavithra Hanchagaiah,  started to help gather information about vachanas and document it in Unicode by writing scripts for open source software. Further discussions were had to get thousands of vachanas in the form of a database, so that they could be easily searchable with an index. This demanded us to build a platform supporting all these activities, which would help the linguistic researchers, students and members of the general public who have an interest in reading and studying Vachana literature. With this idea, Omshivaprakash started designing the model, and Devaraju started building it. In the meantime we kept running various scripts to fix errors in conversion of ASCII text to Unicode, confirming that the data was ready to consume by the modules developed for concordance. We spent weekends & holidays executing this project from home. With the constant feedback and guidance from OLN Sir and Vasudendra, we learned how <a href="https://en.wikipedia.org/wiki/Concordance_(publishing)" target="_blank"> concordance </a> of text is used by researchers and what would make it easier for them to research on Vachana Sahitya. Omshivaprakash worked on the architecture of the platform, decided the infrastructure requirements – free and open source software technologies were used to keep the platform active while managing the entire project. Pavithra provided critical hacks for digitization and gave feedback through suggestions. Devaraju continues to be the backbone for keep adding new features on a regular basis. 
 </p>
 <p>
   <b> It is now possible to research more than 25 thousand Vachana’s written by 250+ Vachanakaara’s in few seconds in a single click.  </b>
 </p>
 <p>


  The above said work received lots of attention from people across the streams. We are being accessed till today to quickly do research on Vachana Sahitya through the portal and through our social media channels. 
</p>
<p>


  The team has moved on to various other language projects and they are now listed in Kannada Sanchaya portal<a href="http://kannada.sanchaya.net" target="_blank"> (http://kannada.sanchaya.net)</a>. We continue to build to-date. 
</p>

</div>