<div class="namma-bagge"> 
  <h2>  ನಮ್ಮ ಬಗ್ಗೆ </h2>

  <div class="about-paragraph"> 
    <p> 

      <b>ಮಾರ್ಗದರ್ಶನ</b>
      <ul>
        <li>ಶ್ರೀ ವಸುದೇಂದ್ರ</li>
        <li>ಶ್ರೀ ಒ ಎಲ್ ಎನ್ ಸ್ವಾಮಿ</li>
      </ul>


      <b>ತಂತ್ರಜ್ಞರ ತಂಡ </b>
      <ul>
        <li>ದೇವರಾಜ್ ಕೆ</li>
        <li>ಪವಿತ್ರ ಹೆಚ್</li>
        <li>ಓಂಶಿವಪ್ರಕಾಶ್ ಎಚ್.ಎಲ್</li>
      </ul>

      <b> ಸುದ್ದಿಯಲ್ಲಿ:</b>

      <ul>
        <li>
          <a href="http://www.thehindu.com/news/national/karnataka/vachana-site-gets-more-than-5-lakh-hits/article5733383.ece" class="btn-link" target="_blank">Vachana site gets more than 5 lakh hits.</a>. ''The Hindu''. Retrieved 10 March 2014.
        </li>
        <li> 
          <a href="http://www.thehindu.com/todays-paper/tp-national/tp-karnataka/vachana-vijayotsava-in-bidar-from-february-12/article5669528.ece" class="btn-link" target="_blank"> Vachana Vijayotsava in Bidar from February 12]. </a> 'The Hindu'' (09 February 2014) 
        </li>
        <li> 
          <a href="http://www.prajavani.net/article/%E0%B2%85%E0%B2%A8%E0%B2%BF%E0%B2%B0%E0%B3%8D%E0%B2%B5%E0%B2%9A%E0%B2%A8-%E0%B2%87-%E0%B2%A8%E0%B2%BF%E0%B2%B0%E0%B3%8D%E0%B2%B5%E0%B2%9A%E0%B2%A8" class="btn-link" target="_blank"> ಕಾಮನಬಿಲ್ಲು ಅನಿರ್ವಚನ, ಇ ನಿರ್ವಚನ</a> ''The Prajavani'' (30 January 2014)
        </li>
        <li> 
          <a href="http://kannada.oneindia.in/news/karnataka/vachana-sanchaya-net-website-a-unique-collection-vachanas-081446.html" class="btn-link" target="_blank"> ವಚನಗಳ ಸಂಗ್ರಹ ಹೊತ್ತ ವಿಶಿಷ್ಟ ವೆಬ್ ತಾಣ.</a> ''OneIndia.in'' (4 February 2014)
        </li>
        <li> 
          <a href="http://vbnewsonline.com/Writer/144169/" class="btn-link" target="_blank"> ಜಾಲತಾಣದಲ್ಲೀಗ ವಚನಗಳ ಅನುರಣನ.</a> ''Vbnewsonline'' (02 February 2014)
        </li>
        <li> 
          <a href="https://blog.wikimedia.org/2014/03/12/11th-century-kannada-literature-to-enrich-wikisource/" class="btn-link" target="_blank">Vachana Sanchaya: 11th century Kannada literature to enrich Wikisource</a>, Wikimedia blog, Posted by Subhashish Panigrahi on March 12, 2014
        </li>
        <li> 
          <a href="http://opensource.com/life/14/3/wikipedia-project-hindu-poetry" class="btn-link" target="_blank"> Digitize any book in the public domain  </a> opensource.com (Posted: 27 Mar 2014 ) 
        </li>
        <li> 
          <a href="http://cis-india.org/openness/blog/vachana-sanchaya-11th-century-kannada-literature-to-enrich-wikisource" class="btn-link" target="_blank"> Vachana Sanchaya: 11th century Kannada literature to enrich Wikisource  </a> The center for Internet & Society (Posted: 27 Mar 2014 )
        </li>
        <li> 
          <a href="http://www.dnaindia.com/blogs/post-11th-century-kannada-literature-now-on-wikisource-1973558" class="btn-link" target="_blank"> 11th Century Kannada Literature Now on Wikisource  </a> dnaindia (Posted: 30 March 2014 ) 
        </li>

        <li> 
          <a href="http://openaccessweek.org/profiles/blogs/vachana-sanchaya-bringing-access-to-11th-century-kannada" class="btn-link" target="_blank"> Bringing access to 11th century Kannada literature  </a> openaccessweek (Posted: 3 April 2014 )  
        </li>

        <li> 
          <a href="http://globalvoicesonline.org/2014/03/18/11th-century-kannada-literature-available-on-wikisource/" class="btn-link" target="_blank"> 11th Century Kannada Literature Available On Wikisource  </a> globalvoicesonline (Posted:  18 March 2014  ) 
        </li>

        <li> 
          <a href="http://fossforce.com/2014/04/open-source-project-brings-11th-century-kannada-verses-online/" class="btn-link" target="_blank"> Open Source Project Brings 11th Century Kannada Verses Online  </a> fossforce (Posted:   2 April 2014  ) 
        </li>
        <li> 
          <a href="http://openaccess.cmb.med.rug.nl/?author=406" class="btn-link" target="_blank"> Vachana Sanchaya: Bringing access to 11th century Kannada literature  </a> openaccess (Posted:   3 April 2014  ) 
        </li>
        <li> 
          <a href="http://www.udayavani.com/news/495600L15-%E0%B2%B5%E0%B2%9A%E0%B2%A8-%E0%B2%AC%E0%B2%B9-%E0%B2%B5%E0%B2%9A%E0%B2%A8.html" class="btn-link" target="_blank">ವಚನ ಬಹುವಚನ </a>  ಉದಯವಾಣಿ  (Posted:   29 June 2014  ) 
        </li>
        <li> 
          <a href="http://www.udayavani.com/news/497871L15-%E0%B2%85%E0%B2%95-%E0%B2%B7%E0%B2%AF-%E0%B2%B8-%E0%B2%9A%E0%B2%AF.html" class="btn-link" target="_blank"> ಅಕ್ಷಯ ಸಂಚಯ </a> ಉದಯವಾಣಿ  (Posted:   06 July 2014  )
        </li>
        

      </ul>

    </p>
    <!-- <p>
      <p> ನಾವೆಲ್ಲಿ ತಲುಪುತ್ತಿದ್ದೇವೆ</p>
      <br />
      <iframe src="https://rpm.newrelic.com/public/charts/1KCSCn7ceLR" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </p> -->
  </div>

</div>


<div class="avrutthi-update"> 
  <h2> ಆವೃತ್ತಿಯ ಹಿನ್ನೋಟ </h2>
  <div class="about-paragraph">
    <ul> 
      <li>
        0.3 -> Full text search added for Logged in Users
      </li>
      <li> 
        0.2.2 -> Review Desk fix,  
        Ui fix, 
        Vachanakaara navigation change
      </li>
      <li> 
        0.2.1 -> Layout fix in review desk, 
        Advanced search layout fix,
        design fix
      </li>
      <li> 0.2 -> Review desk added fr reviewers, publishers and admin, 
       Tracking changes,
       Samgra samputa added for vachanakaara,
       UI changes.
     </li>
     <li> 0.1.4 -> Vachanakaara parichaya added 
      Ui fix
    </li>
    <li> 0.1.3 -> Added glossary</li>
    <li> 0.1.2 -> Added advance search features for Ankitanaama and Vachanakaara </li>
    <li> 0.1.1 -> Concordance of words , Search within Concordance, Graph feature , UI Modifications    </li>
    <li> 0.1 -> Initial beta release - UI Modifications for Vachana and Vachanakaararu </li>
    <li> Alpha Release - Initial skeleton with Vachanas and Vachanakaararu </li>

  </ul>

</div>
</div>
