<div> 
<h2>  ನಮ್ಮ ಬಗ್ಗೆ </h2>

<div class="about-paragraph"> 
<p> 

<b>ಮಾರ್ಗದರ್ಶನ</b>
<ul>
<li>ಶ್ರೀ ವಸುದೇಂದ್ರ</li>
<li>ಶ್ರೀ ಒ ಎಲ್ ಎನ್ ಸ್ವಾಮಿ</li>
</ul>


<b>ತಂತ್ರಜ್ಞರ ತಂಡ </b>
<ul>
<li>ದೇವರಾಜ್ ಕೆ</li>
<li>ಪವಿತ್ರ ಹೆಚ್</li>
<li>ಓಂಶಿವಪ್ರಕಾಶ್ ಎಚ್.ಎಲ್</li>
</ul>

</p>
<p>
<b> ನಾವೆಲ್ಲಿ ತಲುಪುತ್ತಿದ್ದೇವೆ</p>
<br />
<iframe src="https://rpm.newrelic.com/public/charts/1KCSCn7ceLR" width="500" height="300" scrolling="no" frameborder="no"></iframe>
</p>
</div>

</div>
