<div class="about-us">
  <div class="top-intro">
    <h2>ಕನ್ನಡ ಸಂಚಯ : ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆ ಹಾಗೂ ಅಧ್ಯಯನ ವೇದಿಕೆಯ ಬಗ್ಗೆ</h2>
    <p>ಕನ್ನಡ ಭಾಷೆ ಮತ್ತು <strong>ತಂತ್ರಜ್ಞಾನ</strong> ಕ್ಷೇತ್ರದಲ್ಲಿ ಕೆಲಸ ಮಾಡುವುದು ನಮ್ಮ ತಂಡದ ಉದ್ದೇಶವಾಗಿದೆ. ಭಾಷಾ ಸಂಶೋಧಕರಿಗೆ ಸಂಶೋಧನಾ ವೇದಿಕೆಯೊಂದನ್ನು ನಿರ್ಮಿಸುವುದು ನಮ್ಮ ಗುರಿ. ಅಂತರ್ಜಾಲದ ಮೂಲಕ ವೆಬ್ ಹಾಗೂ ಮೊಬೈಲ್ ತಂತ್ರಾಂಶಗಳ ಸಹಾಯದಿಂದ ಮುಕ್ತವಾಗಿ ಸಂೋಧಕರಿಗೆ, ಸಂೋಧನಾ ಸಲಕರಣೆಗಳನ್ನು ಅಭಿವೃದ್ದಿಪಡಿಸುವಲ್ಲಿ ನಮ್ಮ ತಂಡ ತೊಡಗಿಕೊಂಡಿದೆ. ನಮ್ಮ ಆಸಕ್ತಿ ವಾಣಿಜ್ಯ ಅಥವಾ ಲಾಭದ ಉದ್ದೇಶವನ್ನು ಹೊಂದಿರದೆ ಶಾಸ್ತ್ರೀಯ ಕನ್ನಡ ಸಾಹಿತ್ಯದ ಸಂೋಧನೆಯ ತಾಂತ್ರಿಕ ಸಾಮರ್ಥ್ಯವನ್ನು ಬಳೆಸುವುದೇ ಆಗಿದೆ.</p>
    <p>ನಮ್ಮ ಬಗ್ಗೆ ಹೆಚ್ಚು ತಿಳಿಯಲು ಈ ಕೆಳಗಿನ ಲಿಂಕ್‌ಗಳನ್ನು ಸಂಪರ್ಕಿಸಿ:</p>
    <ul>
      <li><a href="https://pada.sanchaya.net/about" target="_blank">Sanchaya - ಸಂಚಯ</a></li>
      <li><a href="https://sanchi.org" target="_blank">Sanchi Foundation - ಸಂಚಿ ಪ್ರತಿಷ್ಠಾನ</a></li>
    </ul>
  </div>
  <%= render 'about_content' %>
</div>

