<ol> 
  <li>  <%= link_to "ವಚನಕಾರರು", edit_vachanakaara_path(Vachanakaara.first) %> </li>
  <!-- <li>  <%#= link_to "ವಚನ", edit_vachana_path(Vachana.first) %> </li> -->
  <li>  <%= link_to "ಆಕರಗಳು", reference_books_path %> </li> 
  <li> <%= link_to "ಬಳಕೆದಾರರು", users_path %> </li>
  <li> <%= link_to "ಬದಲಾವಣೆಯನ್ನು ಗಮನಿಸಿ ", activities_path %> </li>
  
</ol>

<%#= link_to "Download KeyWords as CSV", download_keyword_csv_word_lists_path %> 

