<div class= "vachana_sangraha_heading">
<h1> ವಚನ ಸಂಗ್ರಹ </h1>

 </div>


<%= render "layouts/search_box" %>
<div class="sangraha_desc">
<p> ಈ ವಚನ ಸಂಗ್ರಹದಲ್ಲಿ ೨೭೬ ವಚನಕಾರರ, ೨೧೦೦೦ಕ್ಕೂ ಹೆಚ್ಚು ವಚನಗಳಿವೆ.<br />
ವಚನಗಳಲ್ಲಿರುವ ಒಟ್ಟು ಪದಗಳ ಸಂಖ್ಯೆ ೬ಲಕ್ಷಕ್ಕೂ ಹೆಚ್ಚು. <br />
ಈ ತಂತ್ರಾಂಶ ವಚನದಲ್ಲಿನ ಪದಗಳನ್ನು ಆಯಾ ವಚನ ಮತ್ತು ವಚನಕಾರರಿಗೆ ಸಂಪರ್ಕವೇರ್ಪಡಿಸಿ ನಿಮ್ಮ ಸಂಶೋಧನೆಗೆ ಸಹಕರಿಸುತ್ತದೆ. </P> 


 </div>
