<%= render "layouts/back_button" %>
<div class="page-note" > 
  <p>  <strong> ಸೂಚನೆ </strong>:- ವಚನ ಸಂಚಯದ ಪರಿಷ್ಕರಣಾ ಕಾರ್ಯಕ್ಕೆ ಸಮಗ್ರ ವಚನ ಸಂಪುಟದ ಎರಡನೇ ಆವೃತ್ತಿಯನ್ನು ಮಾತ್ರ ಬಳಸಿ. </p>
</div>

<div class="page-header">
  <h2> ಸ್ವಾಗತ <%= current_user.name %>  </h2>

</div>

<div class="row">

 <%= render "review_left" %>


 <div class="span8">
  <div class="reviewer-right-box"> 


  </div>

</div>
</div>