 <div class= "back-button" > 
  <%= link_to_function "", "history.back()", class: "btn icon-arrow-left", style: "color: #0044CC;" %>
</div>


<div class="page-header">
<h1> Welcome <%= current_user.name %> <small> Reviewed Vachanas </small> </h1>
</div>



<table class="datatable">
  <thead>
    <tr>
      <th>vachanaid</th>
      <th>vachana</th>
    </tr>
  </thead>
  <tbody>
    <% @reviewed_vachanas.each do |rv| %>
    <tr>
      <td><%= link_to rv.review_vachanaid, edit_user_review_vachana_path(current_user,rv) %></td>
      <td><%= link_to truncate(rv.review_vachana, length: 100), edit_user_review_vachana_path(current_user,rv) , class: "btn-link" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
