// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .vachana_sangraha_heading{
    margin: 10px;
    text-align: center;
    width: 100%;
    }

    .sangraha_menu{
      font-size: 20px;
    margin: 10px;
    text-align: center;
    width: 100%;

    }

    .sangraha_desc{
      text-align: center;
    width: 100%;
    }


    .letter_list{
     font-size: 17px;
     margin: 10px;
    }