// Place all the styles related to the vachanas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


span.hilite1 {
background:yellow;
font-family: arial;
    font-size: 15px;
    font-weight: bold;
    }