// Place all the styles related to the vachanas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



p span.hilite1 {
background:#3A87AD;
font-family: arial;
    font-size: 15px;
    font-weight: bold;
     color: white;
    }

.vacha_lists{
 height: 500px;
    overflow-y: auto;
    width: 600px;
    }

    .word_lists{
height: 500px;
    overflow-y: auto;

    }

    .vachana_search_form{

        text-align: center;
    }