<div class="sanchaya-donate">
	<div class="hero-unit">
	  <div class="row">
       <div class= "span12" >
	      <p>ಸಂಚಯದ ಯೋಜನೆಗಳಿಗೆ ತಂತ್ರಜ್ಞಾನದ ಅಭಿವೃದ್ಧಿ, ಮೂಲ ಸೌಕರ್ಯಗಳು, ಹೊಸ ಯೋಜನೆಗಳ ಅನುಷ್ಠಾನಕ್ಕೆ ನೀವೂ ಕೈ ಜೋಡಿಸಬಹುದು. ೨೦೧೧ ರಿಂದ ೨೦೧೮ರ ಸ್ವಯಂ ಸೇವಕರ ಸ್ವಸಹಾಯದಿಂದಲೇ ನೆಡೆದು ಬಂದಿದ್ದು, 
		      ನಮ್ಮ ಮುಂದಿನ ಯೋಜನೆಗಳಿಗೆ ಕನ್ನಡ ಸಮುದಾಯವೂ ತನ್ನ ಸಹಾಯ ಹಸ್ತವನ್ನು ಚಾಚುತ್ತದೆ ಎಂದು ನಂಬುತ್ತೇವೆ. <a href="https://sanchifoundation.org">ಸಂಚಿ ಫೌಂಡೇಷನ್</a> – ಸಹಯೋಗದೊಂದಿಗೆ 
		      ಸಂಚಯದ ಕಾರ್ಯಗಳಿಗೆ ದೇಣಿಗೆ ನೀಡಬಹುದಾಗಿದೆ. "ಸಂಚಿ" ಒಂದು ಲಾಭರಹಿತ ಸಂಸ್ಥೆಯಾಗಿದ್ದು, ದೃಶ್ಯ-ಶ್ರಾವ್ಯ ಮಾಧ್ಯಮದ ಮೂಲಕ ದಾಖಲೀಕರಣದ ಕೆಲಸದಲ್ಲಿ ತೊಡಗಿದೆ. <br />
			ಸಂಚಿ ಫೌಂಡೇಶನ್ (ಆರ್) ಗೆ ನೀಡುದ ಎಲ್ಲಾ ದೇಣಿಗೆಗಳು 80 ಜಿ ಆದಾಯ ತೆರಿಗೆ ವಿನಾಯಿತಿಯನ್ನು ಪಡೆಯುತ್ತವೆ.</p>
	    </div>
	</div>
	<div class="row donate-button-section">
	    <div class="span12">
	    	<a href='https://www.payumoney.com/paybypayumoney/#/633268DE60A7E2E3B040CA92D01139A5' target="_blank">
	    		<span class="btn btn-info"> ಕೈಜೋಡಿಸಿ  </span>
	    	</a>
	    	<a href='https://sanchaya.org/support-us/' target="_blank">
	    			<span class="btn btn-info"> ಹೆಚ್ಚಿನ ಮಾಹಿತಿ </span>
	    	</a>
	    </div>
	</div>
</div>
</div>


