<div class="footer">
  <div class="navbar-inner">
    <div class="copy-right">
      © ೨೦೧೪ - ೨೦೧೯ <a href="https://sanchaya.org" target="_blank"> ಸಂಚಯ  </a>| ಕನ್ನಡ ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆ ಹಾಗೂ ಅಧ್ಯಯನ ವೇದಿಕೆ
    </div>
  </div>
</div>‍